:root{
    --g_color_1: #0F7BFF;
    --g_color_2: #0063DD;
    --g_color_3: #F5FCFD;
    --g_color_4: #999999;
}

body{
    font-family: 'Quicksand', sans-serif;
}

a{color: var(--g_color_2); text-decoration: none;}
.arrow_link svg{display:inline-block; position: relative;}
.arrow_link:hover svg{
    left: 5px;
}

.bg1{background: var(--g_color_1);}
.bg2{background: var(--g_color_2);}
.bg3{background: var(--g_color_3);}

.color4{color: var(--g_color_4);}

h1{font-size: 36px;}
h2{font-size: 32px;}
h4{font-size: 24px;}
h5{font-size: 18px;}

.navbar {padding: 0;}
.navbar .navbar-nav{align-items: center;}
.navbar .nav-item{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}
.navbar .nav-item .nav-link{
    color: #929292;
    margin-right: 25px;
}
.navbar .nav-item .nav-link.active{
    color: var(--g_color_1);
}
.navbar .navbar-brand{
    background: var(--g_color_1);
    color:#fff;
    font-weight: 700;
    padding: 25px 23px 30px 23px;
    font-size: 36px;
    line-height: 45px;
    border-radius: 0px 0px 21.5px 21.5px;
}
.form-control-custom{
    border: none;
    border-radius: 25px;
    background: var(--g_color_2);
    padding: 0 20px;
}
.form-control-custom::placeholder{
    color:#fff;
}
.btn-custom{
    border-radius: 25px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    line-height: 16px;
    min-width: 166px;
}
.btn-1{
    background: var(--g_color_2);
    color:#fff;
}
.btn-2{
    background: var(--g_color_1);
    color:#fff;
}
.btn-2 svg path{
    fill: #fff;
    transition: .25s
}
.btn-2:hover svg path{fill: #000;}
.btn-3{
    border: 2px solid;
    background: #fff;
    color:var(--g_color_1);
}
.btn-4{
    background: #fff;
    color:var(--g_color_1);
}
.btn-1:hover{background: rgb(127, 182, 255);}
.btn_menu a{
    color:#fff;
    text-decoration: none;
}

#top-section{
    background-image: url('img/Vector 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#top-section .title_box{
    margin-top: 90px;
    max-width: 655px;
}

.title_box{margin: 90px auto;}
.title_box h2{font-weight: bold;}
.title_box p {
    line-height: 27px;
    margin-bottom: 30px;
}

.buttons_blk .btn{
    margin: 5px 15px;
    clear: both;
}

.devices{
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: -120px;
}

.devices .device{
    flex-direction: column-reverse;
    display: flex;
}

.devices .device img{
    animation: animation_devices 3s infinite;
}

@keyframes animation_devices{
    0%{top: 0;}
    50%{top: 20px;}
    100%{top: 0px;}
}

.devices .device:nth-child(1){
    margin-top: 90px;
    position: relative;
    animation: animation_devices 3s infinite;
}
.devices .device:nth-child(2){
    margin: 0 -95px 0 -80px;
    z-index: 1;
    position: relative;
    animation: animation_devices 4s infinite;
}
.devices .device:nth-child(3){
    margin-top: 90px;
    position: relative;
    animation: animation_devices 2s infinite;
}

.arrow-top{
    position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -78px;
}

.section-2{
    position: relative;
    margin-top: -20px;
    display: flex;
    padding: 160px 10px;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardbox {
    position: relative;
    text-align: center;
    max-width: 362px;
    margin: 5px 15px;
}
.cardbox h5{margin-top: 25px;}
.cardbox p{margin-top: 25px;}

.section-2 .cardbox{
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    align-self: stretch;
    position: relative;
}

.section-3{position: relative;}
.section-3 img{
    position: relative;
    z-index: 2;
    border-radius: 20px;
}
.section-3 .img{position: relative;}
.section-3 .imgSadow1::after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(147.4deg, var(--g_color_1) 7.27%, var(--g_color_2) 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, 0.64, -0.64, 0.77, -44, 0);
    z-index: 1;
}
.section-3 .imgSadow2::after{
    content: "";
    display: block;
    position: absolute;
    top:50px;
    left: 100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(147.4deg, var(--g_color_1) 7.27%, var(--g_color_2) 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, 0.64, -0.64, 0.77, -44, 0);
    z-index: 1;
}
.section-3 .content_box{
    position: relative;
}
.section-3 .content_box p{
    margin: 0;
}
.section-3 .content_box a{
    display: block;
    font-weight: 500;
    text-decoration: none;
    margin-top: 35px;
}

.section-4{
    padding-top: 120px;
    padding-bottom: 130px;
}
.section-4 .title_box{
    max-width: 722px;
    margin: 0px auto;
}
.section-4 .title_box h2{
    font-weight: 500;
}
.section-4 .cards .cardbox img{
    position: relative;
    z-index: 1;
}
.section-4 .cards .cardbox:nth-child(1)::after,
.section-4 .cards .cardbox:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border: 2px dashed var(--g_color_1);
    top:50px;
    right: -50%;
    z-index: 0;
}

.section-5 {
    padding: 130px 0;
}
.section-5 .cards .cardbox:nth-child(n+2){
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    min-width: 360px;
    padding: 45px 30px;
}
.section-5 .cards .cardbox .price{
    font-size: 32px;
    color: var(--g_color_2);
    font-weight: 500;
}
.section-5 .cards .cardbox .price span{ font-size: 16px;}
.section-5 .cards .cardbox .btns{padding-top: 25px;}
.section-5 .cards .cardbox h5{
    border-bottom: 2px solid #E9F3F8;
    padding-bottom: 20px;
}

.section-6{
    display: flex;
    overflow: hidden;
}
.section-6 .img{min-width: 779px;}
.section-6 .slider_wrapper{width: 100%;}
.section-6 h2{font-weight: 700;}
.section-6 .slider{margin-top: 40px;}
.section-6 .slider_box{
    width: 362px;
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
    border-radius: 5px;
    position: relative;
}
.section-6 .slider_box .desc{
    font-size: 14px;
}

.owl-nav{display: none;}
.owl-dots{
    margin-top: 40px;
    text-align: start !important;
}
.owl-theme .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
    border: 2px solid var(--g_color_2);
    background: #fff;
}
.owl-theme .owl-dots .owl-dot.active span {
    width: 38px;
    background: var(--g_color_2);
}
.owl-theme .owl-dots .owl-dot:hover span{
    background: var(--g_color_2);
}

.section-7{padding: 130px 0 100px;}
.section-7 .title_box{
    margin: 0 auto;
    max-width: 722px;
}
.section-7 .title_box p{margin-bottom: 0;}
.section-7 img{
    box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
    border-radius: 5px;
}
.section-7 .news_general .link{
    margin-top: 35px;
    font-weight: 500;
}
.section-7 .news_box{display: flex;}
.section-7 .news_box .img{min-width: 166px;}
.section-7 .news_box .desc{padding: 0 30px;}
.section-7 .news_box .desc h5{font-weight: 500;}
.section-7 .news_box .desc p{
    margin: 25px 0 0;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
}

.section-8{padding: 130px 0 100px;}
.section-8 h2{font-weight: 700;}

.section-9{
    padding: 120px 0;
    color:#fff;
}
.section-9 h2{
    font-weight: 700;
    font-size: 36px;
}

.section-9 .input-group{
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 10px;
}

footer{
    padding: 30px 0;
    color:#fff;
    font-weight: 300;
    position: relative;
}
.nav-footer, .social-box{display: inline-block;}
.nav-footer li, .social-box li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}
.social-box li{margin-right: 15px;}
.nav-footer ul, .social-box ul{
    margin: 0;
    padding: 0;
}
.nav-footer li a, .social-box li a{color: #fff; fill: #fff;}


@media (min-width: 1900px){
    #top-section {
        background-position: 90% 0%;
    }
    .container-xxl {
        max-width: 1640px;
    }
    .btn-up{
        margin-right: -100px;
        margin-top: -65px;
    }
}
@media (min-width: 1400px){
    .section-2 .cardbox:nth-child(2){
        top:50px
    }
    .container{
        max-width: 1170px;
    }
    .btn-up{
        margin-right: -100px;
        margin-top: -65px;
    }
}
@media (max-width: 1399px){
    .section-2 .cardbox:nth-child(2){
        top:0px
    }
    .section-3 .img::after{
        display: none;
    }
    .section-4 .cards .cardbox:nth-child(1)::after,
    .section-4 .cards .cardbox:nth-child(2)::after {display: none;}
    .container{
        max-width: 1170px;
    }
    .btn-up{
        text-align: right;
    }
}
